extends layout

block content
    br
    h1 #{title}
    br
    p Click on any column headers to sort requests by that field
    hr
    table.table-hover.table-striped#request-table
        thead
            tr
                th Request Name
                th Description
                th Business Justification
                th Request Date
                th Target Date
                th Requested By
        tbody
            each intake, i in intakes
                tr(id=intake._id)
                    td
                        a(href="/intakes/completed/"+intake._id+"/version/0", style='color:gray')= intake.requestName
                    td !{intake.current.description}
                    td !{intake.justification} 
                    td= intake.requestDate.toLocaleDateString("en-US")
                    if intake.current.targetDate
                        td= intake.current.targetDate
                    else
                        td 
                    td= intake.requestor
    br
    if pages > 1
        ul.pagination.text-center
            if(current==1)
                li.disabled
                    a 1&nbsp;
            else
                li
                    a(href="/intakes/completed/1") 1&nbsp;
            - var i = (current > 3 ? current - 1 : 1)
            if i!== 1
                li.disabled
                    a ...&nbsp;
            - for (; (i <= Number(current)+1) && i <= pages; i++)
                if i==1 || i==pages
                    //do nothing
                else if i==current
                    li.active
                        a #{i}&nbsp;
                else
                    li
                        a(href="/intakes/completed/"+i) #{i}&nbsp;
            if i < pages
                li.disabled
                    a ...&nbsp;
            if(current==pages)
                li.disabled
                    a #{pages}&nbsp;
            else
                li
                    a(href="/intakes/completed/"+pages) #{pages}&nbsp;