extends layout

block content
  h1= title
  form(method='POST', action='/intakes/edit/'+intake._id, enctype='multipart/form-data')
    #form-group 
      label.main-label Request Name
      if user.type=='PM' || user.type=='SU'
        input.form-control(name='requestName', type='text', value=intake.requestName)
      else
        input.form-control(name='requestName', type='text', value=intake.requestName, readonly)
    #form-group 
      label.main-label Package
      if user.type=='PM' || user.type=='SU' || user.type=='OC'
        input.form-control(name='package', type='text', value=intake.package)
      else
        input.form-control(name='package', type='text', value=intake.package, readonly)
    #form-group 
      label.main-label Attachments
      br
      label.flavor-text Please provide any attachments that will assist in this request (Max 10)
      br
      each attachment, i in intake.attachments
        a(href='/'+attachment.filename) #{attachment.originalname} 
        br
      input.form-control(name='attachments', type='file', multiple)
    #form-group 
      label.main-label Target Date
      br
      span.flavor-text Typical LOE is two weeks from request date
      if user.type=='PM' || user.type=='SU'
        input.form-control#targetDate(name='targetDate', type='date')
      else
        input.form-control#targetDate(name='targetDate', type='date', readonly)
    #form-group 
      label.main-label Detailed Description
      br
      label.flavor-text Please provide as much detail as possible. If the request includes an existing offer/promo, please specify ID
      if user.type=='PM' || user.type=='SU'
        textarea.form-control(name='description') !{intake.current.description}
      else 
        div.form-control(name='description') !{intake.current.description}
    #form-group 
      label.main-label Business Justification
      br
      label.flavor-text Requests will be prioritized by this information and date of request. Include ROI. Churn and any other financial benefits
      if user.type=='PM' || user.type=='SU'
        textarea.form-control(name='justification') !{intake.justification}
      else
        div.form-control(name='justification') !{intake.justification}
    #form-group 
      label.main-label Requestor
      br
      label.flavor-text If you are requesting this for someone other than yourself, please enter their ATTUID
      if user.type=='PM' || user.type=='SU'
        input.form-control(name='requestor', type='text', value=intake.requestor)
      else
        input.form-control(name='requestor', type='text', value=intake.requestor, readonly)
    #form-group 
      label.main-label Approver and PAES Number if Applicable
      br
      label.flavor-text Request will not be processed if a PAES is required until approval is received
      if user.type=='PM' || user.type=='SU'
        input.form-control(name='paesNumber', type='text', value=intake.paesNumber)
      else
        input.form-control(name='paesNumber', type='text', value=intake.paesNumber, readonly)
    #form-group
      label.main-label Target System
      br
      if user.type=='PM' || user.type=='SU'
        if intake.current.targetSystem.includes("USC")
          input(name='targetSystem[]', type='checkbox', value='USC', checked)
        else
          input(name='targetSystem[]', type='checkbox', value='USC')
        label &nbsp;&nbsp;USC
        br
        if intake.current.targetSystem.includes("LSCRM")
          input(name='targetSystem[]', type='checkbox', value='LSCRM', checked)
        else
          input(name='targetSystem[]', type='checkbox', value='LSCRM')
        label &nbsp;&nbsp;LSCRM
      else
        if intake.current.targetSystem.includes("USC")
          input(name='targetSystem[]', type='checkbox', value='USC', checked, onclick="return false;")
        else
          input(name='targetSystem[]', type='checkbox', value='USC', onclick="return false;")
        label &nbsp;&nbsp;USC
        br
        if intake.current.targetSystem.includes("LSCRM")
          input(name='targetSystem[]', type='checkbox', value='LSCRM', checked, onclick="return false;")
        else
          input(name='targetSystem[]', type='checkbox', value='LSCRM', onclick="return false;")
        label &nbsp;&nbsp;LSCRM
      br
    #form-group 
      label.main-label Offer Configurator
      br
      if user.type=='PM' || user.type=='SU' || user.type=='OC'
        input.form-control(name='offerConfigurator', type='text', value=intake.offerConfigurator)
        //select.form-control(name='offerConfigurator')
          option(value='Derek') Derek
          option(value='Chris') Chris
          option(value='Luana') Luana
          option(value='David') David
          option(value='Tracy') Tracy
          option(value='Valli') Valli
      else 
        input.form-control(name='offerConfigurator', type='text', value=intake.offerConfigurator, readonly)
    #form-group 
      label.main-label Offer Configurator Estimate
      br
      if user.type=='PM' || user.type=='SU' || user.type=='OC'
        input.form-control(name='offerConfiguratorEstimate', type='number', value=intake.offerConfiguratorEstimate)
      else 
        input.form-control(name='offerConfiguratorEstimate', type='number', value=intake.offerConfiguratorEstimate, readonly)
    #form-group 
      label.main-label QA
      br
      if user.type=='PM' || user.type=='SU' || user.type=='QA'
        input.form-control(name='qa', type='text', value=intake.qa)
        //select.form-control(name='qa')
          option(value='Hovik') Hovik
          option(value='Ant') Ant
          option(value='Echele') Echele
      else 
        input.form-control(name='qa', type='text', value=intake.qa, readonly)
    #form-group 
      label.main-label QA Estimate
      br
      if user.type=='PM' || user.type=='SU' || user.type=='QA'
        input.form-control(name='qaEstimate', type='number', value=intake.qaEstimate)
      else 
        input.form-control(name='qaEstimate', type='number', value=intake.qaEstimate, readonly)
    #form-group 
      label.main-label PM
      br
      if user.type=='PM' || user.type=='SU'
        input.form-control(name='pm', type='text', value=intake.pm)
      else 
        input.form-control(name='pm', type='text', value=intake.pm, readonly)
    br
    input.btn.btn-primary(type='submit', value='Submit')
    a.btn.btn-danger(href='/') Cancel