extends layout

block content
    br
    h1= intake.requestName
    h5(style='display:inline-block') Submitted by #{intake.requestor}
    if user 
        if intake.phase!='complete'
            if user.type=='PM' || user.type=='SU' || user.type=='QA' || user.type=='OC'
                a.btn.btn-primary.btn-spacing(style='float:right', href='/intakes/edit/'+intake._id+'/0') Edit
        else
            if user.type=='PM' || user.type=='SU' || user.type=='QA' || user.type=='OC'
                a.btn.btn-primary.btn-spacing(style='float:right', href='/intakes/edit/'+intake._id+'/1') Edit
    hr
    h4 Previous Versions:
    each version, i in intake.prev
        if intake.phase!='complete'
            if version.version==v
                a.disabled #{version.version}&nbsp;
            else
                a(href="/intakes/"+intake._id+"/version/"+version.version) #{version.version}&nbsp;
        else
            if version.version==v
                a.disabled #{version.version}&nbsp;
            else
                a(href="/intakes/completed/"+intake._id+"/version/"+version.version) #{version.version}&nbsp;
    if intake.phase!='complete'
        if v=='current'
            a.disabled Current
        else
            a(href="/intakes/"+intake._id+"/version/0") Current
    else
        if v=='current'
            a.disabled Current
        else
            a(href="/intakes/completed/"+intake._id+"/version/0") Current
    hr
    table
        thead
        tbody
            tr.intakeRow
                td.intakeField
                    span.main-label Created:
                td
                    =intake.requestDate.toLocaleString('en-US')
            tr.intakeRow
                td.intakeField
                    span.main-label Status:
                if intake.phase=='requirements'
                    td Requirements
                if intake.phase=='readyfordevelopment'
                    td Ready For Development
                if intake.phase=='development'
                    td Development
                if intake.phase=='qa'
                    td QA
                if intake.phase=='inapproval'
                    td In Approval
                if intake.phase=='complete'
                    td Complete
                else
                    td
            tr.intakeRow
                td.intakeField
                    span.main-label Package:
                td
                    =intake.package
            tr.intakeRow
                td.intakeField
                    span.main-label Attachments:
                td
                    each attachment, i in intake.attachments
                        a(href='/'+attachment.filename) #{attachment.originalname} 
                        br
            tr.intakeRow
                td.intakeField
                    span.main-label Description:
                td !{description}
            tr.intakeRow
                td.intakeField
                    span.main-label Justification:
                td !{intake.justification}
            tr.intakeRow
                td.intakeField
                    span.main-label Target Date:
                td
                    =targetDate
            tr.intakeRow
                td.intakeField
                    span.main-label Target System:
                td
                    if targetSystem.includes("USC")
                        div USC
                    if targetSystem.includes("LSCRM")
                        div LSCRM
            tr.intakeRow
                td.intakeField
                    span.main-label Approver and PAES Number:
                td
                    =intake.paesNumber
            tr.intakeRow
                td.intakeField
                    span.main-label Offer Configurator:
                td
                    =intake.offerConfigurator
            tr.intakeRow
                td.intakeField
                    span.main-label Offer Configurator Estimate:
                td
                    =intake.offerConfiguratorEstimate
            tr.intakeRow
                td.intakeField
                    span.main-label QA:
                td
                    =intake.qa
            tr
                td.intakeField
                    span.main-label QA Estimate:
                td
                    =intake.qaEstimate
    hr 
    if user 
        if intake.phase!='complete'
            if user.type=='PM' || user.type=='SU' || user.type=='QA' || user.type=='OC'
                a.btn.btn-primary.btn-spacing(href='/intakes/edit/'+intake._id+'/0') Edit
            if user.type=='PM' || user.type=='SU'
                button.btn.btn-danger(data-toggle="modal", data-target="#deleteModal") Delete
        else
            if user.type=='PM' || user.type=='SU' || user.type=='QA' || user.type=='OC'
                a.btn.btn-primary(href='/intakes/edit/'+intake._id+'/1') Edit
        
    br
    br
    label.main-label Comments:
    br
    br
    each comment, i in intake.comments
        div #{comment.posted.toLocaleString('en-US')} 
        div.card
            .card-header
                h5.card-title  #{comment.author.name}:
            .card-body         
                p.card-text !{comment.text}
        hr
    if user
        if intake.phase!='complete'
            form(method='POST', action='/intakes/comment/'+intake._id+'/0', enctype='multipart/form-data')
                #form-group 
                    br
                    textarea.form-control(name='comment', placeholder='Add a comment here')
                br
                input.btn.btn-primary.btn-spacing(type='submit', value='Post')
        else
            form(method='POST', action='/intakes/comment/'+intake._id+'/1', enctype='multipart/form-data')
                #form-group 
                    br
                    textarea.form-control(name='comment', placeholder='Add a comment here')
                br
                input.btn.btn-primary.btn-spacing(type='submit', value='Post')
    br
            
    div#deleteModal.modal.fade(role="dialog")
        div.modal-dialog
            div.modal-content
                div.modal-body
                    p Are you sure you want to delete this intake?
                div.modal-footer
                    a.btn.btn-primary.btn-spacing.delete-intake(href='#', data-dismiss="modal", data-id=intake._id) Delete
                    button.btn.btn-danger(data-dismiss="modal") Cancel