extends layout

block content
    h1= title
    br
    p A Swimming-Lanes View of Current ADE Projects
    hr
    unless user
        div.swim-pool
            div.swim-lane Requirements
                each intake, i in intakes
                    if intake.phase=="requirements"
                        div.kanban-card.card.text-white.att.mb-3(id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate  
            div.swim-lane Ready For Development
                each intake, i in intakes
                    if intake.phase=="readyfordevelopment"
                        div.kanban-card.card.text-white.att.mb-3(id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate  
            div.swim-lane Development
                each intake, i in intakes
                    if intake.phase=="development"
                        div.kanban-card.card.text-white.att.mb-3(id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate  
            div.swim-lane QA
                each intake, i in intakes
                    if intake.phase=="qa"
                        div.kanban-card.card.text-white.att.mb-3(id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate  
            div.swim-lane In Approval
                each intake, i in intakes
                    if intake.phase=="inapproval"
                        div.kanban-card.card.text-white.att.mb-3(id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate  
            div.swim-lane Complete
    else
        div.swim-pool#kanban
            if user.type=='PM' || user.type=='SU' || user.type=='QA'
                div#requirements.swim-lane(ondrop="drop(event, this)", ondragover="allowDrop(event)") Requirements
                    each intake, i in intakes
                        if intake.phase=="requirements"
                            div.kanban-card.card.text-white.att.mb-3(draggable="true", ondragstart="drag(event)",id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate                           
            else
                div#requirements.swim-lane Requirements
                    each intake, i in intakes
                        if intake.phase=="requirements"
                            div.kanban-card.card.text-white.att.mb-3(id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate
            if user.type=='PM' || user.type=='SU' || user.type=='OC'
                div#readyfordevelopment.swim-lane(ondrop="drop(event, this)", ondragover="allowDrop(event)") Ready For Development
                    each intake, i in intakes
                        if intake.phase=="readyfordevelopment"
                            div.kanban-card.card.text-white.att.mb-3(draggable="true", ondragstart="drag(event)",id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate
            else
                div#readyfordevelopment.swim-lane Ready For Development
                    each intake, i in intakes
                        if intake.phase=="readyfordevelopment"
                            div.kanban-card.card.text-white.att.mb-3(id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate
            if user.type=='PM' || user.type=='SU' || user.type=='OC'|| user.type=='QA'
                div#development.swim-lane(ondrop="drop(event, this)", ondragover="allowDrop(event)") Development
                    each intake, i in intakes
                        if intake.phase=="development"
                            div.kanban-card.card.text-white.att.mb-3(draggable="true", ondragstart="drag(event)",id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate
            else 
                div#development.swim-lane Development
                    each intake, i in intakes
                        if intake.phase=="development"
                            div.kanban-card.card.text-white.att.mb-3(draggable="true", ondragstart="drag(event)",id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate
            if user.type=='PM' || user.type=='SU' || user.type=='OC'
                div#qa.swim-lane(ondrop="drop(event, this)", ondragover="allowDrop(event)") QA
                    each intake, i in intakes
                        if intake.phase=="qa"
                            div.kanban-card.card.text-white.att.mb-3(draggable="true", ondragstart="drag(event)",id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate
            else 
                div#qa.swim-lane QA
                    each intake, i in intakes
                        if intake.phase=="qa"
                            div.kanban-card.card.text-white.att.mb-3(draggable="true", ondragstart="drag(event)",id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate
            if user.type=='PM' || user.type=='SU' || user.type=='QA'
                div#inapproval.swim-lane(ondrop="drop(event, this)", ondragover="allowDrop(event)") In Approval
                    each intake, i in intakes
                        if intake.phase=="inapproval"
                            div.kanban-card.card.text-white.att.mb-3(draggable="true", ondragstart="drag(event)",id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate
            else 
                div#inapproval.swim-lane In Approval
                    each intake, i in intakes
                        if intake.phase=="inapproval"
                            div.kanban-card.card.text-white.att.mb-3(draggable="true", ondragstart="drag(event)",id=intake.requestName)
                                .card-header
                                 a(href='/intakes/'+intake._id+'/version/0', style='color:white')= intake.requestName
                                div.card-body
                                    p.card-text Dev:&nbsp; #{intake.offerConfigurator}
                                        br 
                                        | QA:&nbsp; #{intake.qa}
                                        br
                                        | PM:&nbsp; #{intake.pm}
                                        br
                                        span= intake.current.targetDate
            if user.type=='PM' || user.type=='SU'
                div#complete.swim-lane(ondrop="drop(event, this)", ondragover="allowDrop(event)") Complete
            else
                div#complete.swim-lane Complete
        button.btn.btn-primary(data-toggle="modal", data-target="#kanbanModal") Submit Changes
   
    div#kanbanModal.modal.fade(role="dialog")
        div.modal-dialog
            div.modal-content
                div.modal-body
                    p Are you sure you want to submit these changes?
                div.modal-footer
                    button.btn.btn-primary(onclick="submitKanban()", data-dismiss="modal") Submit 
                    button.btn.btn-danger(data-dismiss="modal") Cancel
